@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage_GreenUI.cshtml";
}
<div class="about-content">
    <div class="container">
        <!-- Contact -->
        <div class="contact">
            <div class="contact-head text-center">
                <h2>联系我们</h2>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
            </div>
            <!----- contact-grids ----->
            <div class="contact-grids">
                <div class="contact-map">

                </div>
                <!----- contact-form ------>
                <div class="contact-form">
                    <form>
                        <div class="contact-form-row">
                            <div>
                                <span>Name :</span>
                                <input type="text" class="text" value="Your Name here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name here';}">
                            </div>
                            <div>
                                <span>Email :</span>
                                <input type="text" class="text" value="Your Email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email here';}">
                            </div>
                            <div>
                                <span>Subject :</span>
                                <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="contact-form-row2">
                            <span>Message :</span>
                            <textarea> </textarea>
                        </div>
                        <input type="submit" value="send">
                    </form>
                </div>
                <!----- contact-form ------>
            </div>
            <!----- contact-grids ----->
        </div>
        <!-- /Contact -->

    </div>
</div>


