@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage_GreenUI.cshtml";
}
<body>
    <div>
        <!--头条--->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="../Content/images/1.jpg" alt="" />
                        <div class="caption">
                            <h2>首页新闻1</h2>
                        </div>
                    </li>
                    <li>
                        <img src="../Content/images/2.jpg" alt="" />
                        <div class="caption">
                            <h2>首页新闻2</h2>
                        </div>
                    </li>
                    <li>
                        <img src="../Content/images/3.jpg" alt="" />
                        <div class="caption">
                            <h2>首页新闻3</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--关于--->
        @{Html.RenderPartial("~/Views/PartialViews/AboutPage.cshtml");}
        <!--中部新闻--->
        @{Html.RenderPartial("~/Views/PartialViews/MidNewsPage.cshtml");}
        <!--类别、产品、资源--->
        <div class="service-section">
            <div class="container">
                <div class="service-section-grids">
                    <div class="col-md-4 service-section-grid-1">
                        <h3>类别</h3>
                        <h4>这是类别的详细描述</h4>
                        <ul class="list">
                            <li><a href="">大豆</a></li>
                            <li><a href=""> 花生米</a></li>
                            <li><a href="">水稻</a></li>
                            <li><a href="">小麦</a></li>
                            <li><a href=""> 绿豆</a></li>
                            <li><a href=""> 西红柿</a></li>
                            <li><a href=""> 土豆</a></li>
                            <li><a href=""> 玉米</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 service-section-grid-2">
                        <h3>产品</h3>
                        <img src="../Content/images/p.jpg" alt="" />
                        <h4>一个特色产品</h4>
                        <p>产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍产品的大概介绍</p>
                        <a class="btn btn-1 btn-1c" href="">查看更多</a>
                    </div>
                    <div class="col-md-4 service-section-grid-3">
                        <h3>资源</h3>
                        <img src="../Content/images/r.jpg" alt="" />
                        <h4>一个特色资源</h4>
                        <p>资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述资源的描述</p>
                        <a class="btn btn-1 btn-1c" href="">查看更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</body>
