@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage_GreenUI.cshtml";
}
<div class="about-content">
    <div class="about-section">
        @{Html.RenderPartial("~/Views/PartialViews/AboutPage.cshtml");}
    </div>
</div>

