@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage_GreenUI.cshtml";
}
<!-- header-section-ends -->
<div class="about-content">
    <div class="container">
        <div class="product-section">
            <div class="product-section-top">
                <h3>products</h3>
                <div class="specials">
                    <div class="specials-grids">
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic3.jpg">
                                    <img src="~/Content/images/pic3.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic1.jpg">
                                    <img src="~/Content/images/pic1.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic2.jpg">
                                    <img src="~/Content/images/pic2.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic4.jpg">
                                    <img src="~/Content/images/pic4.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic5.jpg">
                                    <img src="~/Content/images/pic5.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="col-md-4 special-grid">
                            <div class="gallery">
                                <a href="~/Content/images/pic6.jpg">
                                    <img src="~/Content/images/pic6.jpg" title="image-name">
                                    <div class="zoom-icon">
                                        <i class="zi"></i>
                                    </div>
                                </a>
                            </div>
                            <h4>product title</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
                            <a class="btn btn-1 btn-1c more" href="#">Read More</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




