<div class="content">
    <div class="container">
        <div class="about-section">
            <div class="about-section-top text-center">
                <h3>关于我们</h3>
                <h5>
                    这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。
                </h5>
                <p>
                    这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。这里是关于我们的详细介绍。
                </p>
            </div>
            @{Html.RenderPartial("~/Views/PartialViews/WhatWhyPage.cshtml");}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
