<div class="get-in-touch">
    <div class="container">
        <div class="col-md-3 gin">
            <h3>保持联系</h3>
            <p>您可以通过以下方式与我们保持联系，我们竭诚问您提供优质的服务。</p>
            <div class="social-icons">
                <i class="facebook"></i>
                <i class="twitter"></i>
                <i class="googlepluse"></i>
            </div>
        </div>
        <div class="col-md-3 address">
            <h3>地址</h3>
            <address>
                <p>10-765 芒果路,
                <p>中国，某省，某市</p>
                <p>固话-19832-6578.</p>
                <p class="phone"><span>手机</span> :+1 900 876 1234</p>
                <span class="phone">电子邮箱 :<a href="mail-to:example@mail.com">example@mail.com</a></span>
            </address>
        </div>
        <div class="col-md-6 dal">
            <h3>给我们留言</h3>
            <input type="text" class="text" value="姓氏" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓氏';}">
            <input type="text" class="text" value="名字" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '名字';}">
            <input type="text" class="text" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}">
            <input type="text" class="text" value="手机" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '手机';}">
            <textarea onfocus="if (this.value == '输入内容') this.value = '';" onblur="    if (this.value == '') this.value = '输入内容';">输入内容</textarea>
            <input type="submit" value="发送">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
