<div class="slider1">
    <div class="callbacks_container">
        <ul class="rslides" id="slider1">
            <li>
                <img src="../Content/images/side-1.jpg" alt="" />
                <div class="caption caption1">
                    <h2>中部新闻标题1</h2>
                </div>
            </li>
            <li>
                <img src="../Content/images/side-2.jpg" alt="" />
                <div class="caption caption1">
                    <h2>中部新闻标题2</h2>
                </div>
            </li>
            <li>
                <img src="../Content/images/side-3.jpg" alt="" />
                <div class="caption caption1">
                    <h2>中部新闻标题3</h2>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
</script>
